/*font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif; */
:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --teriary-color: #272142;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--default-font);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 200px 50px;
}

.hero h1 {
  font-family: var(--heading-font);
  font-size: 96px;
  font-weight: bold;
  color: var(--teriary-color);
}

.hero h2 {
  font-family: var(--default-font);
  font-size: 24px;
  font-weight: 300;
  color: #272142;
}

.hero h3 {
  font-family: var(--default-font);
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  color: var(--teriary-color);
}

.btn-branding {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all ease-in-out;
}

.btn-branding:hover {
  background-color: #413bb9;
  color: #ffffff;
}
